<div class="span9" data-no-turbolink>
  <div class="span9"><h3>Channels List</h3></div>
  <% @channels.each do |channel| %>
    <div class="span9">
      <div class="span2"><%= link_to channel.name, channel_chats_path(channel) %></div>
    </div>
  <% end %>
</div>
