.chat-container {
  max-height: 400px;
  background: #fafcfe;
  overflow: scroll;

  p {
    .chat-username {
      font-weight: bold;
    }
    padding: 10px;
    border: 1px solid #d0dff5;
    overflow-wrap: break-word;
  }
  p.bg-color-1 {
    background: #e9f0fa;
  }
  p.bg-color-2 {
    background: #99ae9f;
  }
  p.bg-color-3 {
    background: #bca444;
  }
  p.bg-color-4 {
    background: #fdf0fa;
  }
  p.bg-color-0 {
    background: #6ff0fa;
  }
}

.chat-form{
  padding-top: 10px;
  textarea {
    width: 80%;
  }
}
